<div class="details">
		<h3><%= @post.title %></h3>
		<p><%= @post.content %></p>
		<%= image_tag @post.post_image.url %>


	</div>
<%= simple_form_for @post do |f| %>
<%= f.input :post_image %>
<%= f.button :submit %>

<% end %>

<%= link_to "Back to index", root_path, class: "button" %>